<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GymGeek</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type = "text/javascript" src = "/jquery/jquery-3.6.0.min.js"></script>
	 <!--  <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>	 -->
</head>
<body>


	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">GymGeek</a>
			</div>
		</div>
	</nav>
	
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 col-md-offset-3">
				
				<h1> Είσοδος Χρήστη </h1>
				<form id="new-period-form" th:action="@{/signin}" method="post">
					
					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or
							password.</div>
					</div>
					
					<div>
						<div id="errormessage" class="alert alert-danger" hidden=false></div>
					</div>
				
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>
					
					<div class = "form-group">
						<label for ="username"> Username </label> :
						<input type="text" class = "form-control" id ="username" name = "username"
						placeholder="Το Email σας" autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Κωδικός πρόσβασης" />
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="button" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Είσοδος" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
						<span>New user? <a href="/" th:href="@{/registration}">Register
								here</a></span>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
	$(function() {
	    $('#login-submit').click(saveForm);
	});


	function saveForm(){
	    $.ajax({
	        method: "POST",
	        url: "/signin",
	        data: $('#new-period-form').serialize(),
	        success: function(response){
	            if(response) {
	            	var obj = JSON.parse(JSON.stringify(response));
	            	sessionStorage.setItem("GGjwt", obj.token);
	            	var wp=window.location.href;
	            	wp=wp.replace("/login","/")
	            	window.location.href= wp;
	
	            }
	        },
	        error: function (request, status, error) {
	        	var errobj=request.responseJSON;
	        	if(errobj.status=="401"){
		        	var element=document.getElementById('errormessage');
		        	element.innerHTML="<center>Λάθος Username ή Password</center>";//
		        	element.hidden = false;
	        	}
	        	else{
	        		var element=document.getElementById('errormessage');
		        	element.innerHTML="<center>Σφάλμα σύνδεσης</center>";//
		        	element.hidden = false;	        		
	        	}	        	
	        }
	    });
	}</script>
</body>
</html>